[credential "https://github.com"]
        helper =
        helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
        helper =
        helper = !/usr/bin/gh auth git-credential
[user]
        email = jrobey72@gmail.com
        name = jordan
[alias]
        s = status
				a = add
				c = commit
				pl = pull
				ph = push

